@import "tailwindcss";

@theme {
  --color-gold: #c5a059;
  --color-gold-hover: #b38f48;
  --color-dark-bg: #0a0a0a;
  --color-dark-card: #111111;
  --color-dark-surface: #1a1a1a;
  --color-dark-border: #222222;
  --color-dark-border-light: #333333;
}

